{% comment %}
If a variant isn't selected in the url, choose a specific size by default if in stock
Black -> Beige
12 -> 10 -> 8 -> 14 -> 6 (then others)
{% endcomment %}

{%- if product.selected_variant == nil -%}
  {% comment %} 12 {% endcomment %}
  {%- assign has_selected = false -%}
  {%- for variant in product.variants -%}
    {%- if variant.inventory_quantity < 1 -%}
      {%- continue -%}
    {%- endif -%}
    {%- if variant.option1 == "12" and variant.option2 == "Black" -%}
      {%- assign first_variant_in_stock = variant -%}
      {%- assign has_selected = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if has_selected == false -%}
    {%- for variant in product.variants -%}
      {%- if variant.inventory_quantity < 1 -%}
        {%- continue -%}
      {%- endif -%}
      {%- if variant.option1 == "12" and variant.option2 == "Beige" -%}
        {%- assign first_variant_in_stock = variant -%}
        {%- assign has_selected = true -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {% comment %} 10s {% endcomment %}
  {%- if has_selected == false -%}
    {%- for variant in product.variants -%}
      {%- if variant.inventory_quantity < 1 -%}
        {%- continue -%}
      {%- endif -%}
      {%- if variant.option1 == "10" and variant.option2 == "Black" -%}
        {%- assign first_variant_in_stock = variant -%}
        {%- assign has_selected = true -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  {%- if has_selected == false -%}
    {%- for variant in product.variants -%}
      {%- if variant.inventory_quantity < 1 -%}
        {%- continue -%}
      {%- endif -%}
      {%- if variant.option1 == "10" and variant.option2 == "Beige" -%}
        {%- assign first_variant_in_stock = variant -%}
        {%- assign has_selected = true -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {% comment %} 8s {% endcomment %}
  {%- if has_selected == false -%}
    {%- for variant in product.variants -%}
      {%- if variant.inventory_quantity < 1 -%}
        {%- continue -%}
      {%- endif -%}
      {%- if variant.option1 == "8" and variant.option2 == "Black" -%}
        {%- assign first_variant_in_stock = variant -%}
        {%- assign has_selected = true -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  {%- if has_selected == false -%}
    {%- for variant in product.variants -%}
      {%- if variant.inventory_quantity < 1 -%}
        {%- continue -%}
      {%- endif -%}
      {%- if variant.option1 == "8" and variant.option2 == "Beige" -%}
        {%- assign first_variant_in_stock = variant -%}
        {%- assign has_selected = true -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {% comment %} 14s {% endcomment %}
  {%- if has_selected == false -%}
    {%- for variant in product.variants -%}
      {%- if variant.inventory_quantity < 1 -%}
        {%- continue -%}
      {%- endif -%}
      {%- if variant.option1 == "14" and variant.option2 == "Black" -%}
        {%- assign first_variant_in_stock = variant -%}
        {%- assign has_selected = true -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  {%- if has_selected == false -%}
    {%- for variant in product.variants -%}
      {%- if variant.inventory_quantity < 1 -%}
        {%- continue -%}
      {%- endif -%}
      {%- if variant.option1 == "14" and variant.option2 == "Beige" -%}
        {%- assign first_variant_in_stock = variant -%}
        {%- assign has_selected = true -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {% comment %} Then check the rest, 6 and 16 {% endcomment %}
  {%- for variant in product.variants -%}
    {%- if has_selected == false and variant.inventory_quantity > 0 -%}
      {%- assign first_variant_in_stock = variant -%}
      {%- assign has_selected = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  <script>
    window.location = window.location.origin + window.location.pathname + "?variant={{first_variant_in_stock.id}}"
  </script>
{%- endif -%}

{% include 'product-template',
  description_style: section.settings.description_style,
  image_container_width: section.settings.image_size,
  section_id: product.id,
  social: section.settings.social_enable,
  thumbnail_position: section.settings.thumbnail_position,
  thumbnail_arrows: section.settings.thumbnail_arrows,
  video_looping: section.settings.enable_video_looping,
  video_style: section.settings.product_video_style
%}

{% if settings.enable_product_reviews and settings.reviews_layout == 'full' %}
  <hr id="Reviews-{{ product.id }}" class="hr--large">
  <div class="index-section index-section--small product-reviews product-reviews--full">
    <div class="page-width">
      
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "richtext",
        "id": "bundle_text",
        "label": "Text",
        "default": "<p>OR BUNDLE 5 FOR $85 AND SAVE $14.75</p>"
      },
      {
        "type": "select",
        "id": "description_style",
        "label": "Description position",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Next to media"
          },
          {
            "value": "full",
            "label": "Below media"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "social_enable",
        "label": "Enable social sharing",
        "default": true
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "thumbnail_position",
        "label": "Thumbnail position",
        "default": "beside",
        "options": [
          {
            "value": "beside",
            "label": "Next to media"
          },
          {
            "value": "below",
            "label": "Below media"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "thumbnail_arrows",
        "label": "Show thumbnail arrows"
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": true
      },
      {
        "type": "select",
        "id": "product_video_style",
        "label": "Video style",
        "default": "muted",
        "options": [
          {
            "value": "muted",
            "label": "Video without sound"
          },
          {
            "value": "unmuted",
            "label": "Video with sound"
          }
        ],
        "info": "Video with sound will not autoplay"
      }
    ]
  }
{% endschema %}
