{% section 'collection-template' %}

{% section 'collection-text-columns' %}

{% section 'collection-background-image-text' %}

<div id="stamped-reviews-widget" data-product-ids="{{ collection.products | map: 'id' | join: ',' }}" data-widget-type="carousel" data-fill-empty="true" data-random="true" data-per-slide="3" data-title="GET THE GOSS" data-auto-play="true" data-limit-words="40" data-auto-play-speed="10000"></div>
